* text=auto
*.sh text eol=lf
*.py text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.cmd text eol=crlf
*.gds binary
*.oas binary
*.zip binary
*.png binary
*.jpg binary
*.webm binary
*.glb binary
